* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(rgba(0,0,0,0.4), transparent 1px),
	linear-gradient(90deg, rgba(0,0,0,0.4), transparent 1px);
	background-size: 30px 30px;
}

.res {
	color: red;
	font-weight: bold;
	font-size: 40px;
	font-family: Arial;
	height: 50px;
}
.game {
	width: 360px;
	height: 360px;
	display: none;
	flex-wrap: wrap;
	margin: 30px 0;
	outline: 3px solid #000;
}

.field {
	width: 120px;
	height: 120px;
	cursor: pointer;
	border: 2px solid #000;
}

.new-game{
	display: none;
	

}

.new-game button {
	border: none;
	color: #fff;
	background: green;
	padding: 10px 16px;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	
	text-align: center;
	
}

.new-game button:first-child {
	margin-right: 30px;
}

.active {
	background: rgba(0,255,0,0.5);
}

.circle {
	width: 100%;
	height: 100%;
	stroke-dasharray: 283;
	stroke-dashoffset: 283;
	animation: draw 1s forwards;
}

.cross {
	width: 100%;
	height: 100%
}

.first {
	stroke-dasharray: 125;
	stroke-dashoffset: 125;
	animation: draw 0.5s forwards;
}

.second {
	stroke-dasharray: 125;
	stroke-dashoffset: 125;
	animation: draw 0.5s 0.5s/*задержка анимации*/ forwards;
}

@keyframes draw {
	100% {stroke-dashoffset:0;}
}


.fightpic{
	width: 360px;
	height: 360px;
	margin: 30px 0;
	

}

.startgame {
	border: none;
	color: #fff;
	background: green;
	padding: 10px 16px;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	
	
}

.preview{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.winner {
	animation: win 3s linear infinite;
}

@keyframes win {
	0% {color:green;}
	20%{color:orange;}
	40%{color: blue;}
	60%{color:yellow;}
	80%{color:brown;}
	100%{color:pink;}
}

.hero-choise {
	display: none;
	width: 400px;
	height: 360px;
	flex-wrap: wrap;
	justify-content: space-between;

}

.hero-choise div {
	width: 118px;
}

.start {
	animation: start 1s linear infinite;
}

@keyframes start {
	0% {color:red;}
	100%{color:black;}
}

@media (min-width: 360px) and (max-width: 401px) {
	.start{animation:none;}
	.res{font-size:32px;}
	.hero-choise{width:360px;}
	.hero-choise div{width: 30%;}
	.hero-choise div>img{width: 100%;}
	.new-game button { font-style: 16px; display: block;}
	.new-game {text-align: center;}
	.new-game button:first-child {margin-bottom: 20px;}
}

@media (max-width: 359px){
	.hero-choise, .game{width:100%;}
	.hero-choise div{width:30%;}
	.field{width:33.3333333%;}
	.hero-choise div>img{width:100%;}
	.res{font-size: 28px;}
	.start{animation:none;}
	.new-game button {display: block; font-size: 14px;}
	.new-game {text-align: center;}
	.new-game button:first-child {margin-bottom: 15px; }
}